/* Colors from Blue and Orange theme: https://color.adobe.com/es/Corporate-Orange-Blue-color-theme-7978150
* dark-blue: #304269
* light-blue: #91BED4
* dark-grey: #D9E8F5
* white: #FFFFFF
* orange: #F26101
*/
.ui-content {
    background-color: #FFFFFF;
}

.ui-header {
    background-color: #304269;
    color: #F26101;
    display: flex;
    justify-content: center;
}

.ui-header .ui-title {
    color: #F26101;
}

.ui-btn {
    background-color: #91BED4;
    color: #FFFFFF;
}

a.ui-btn:active:hover,
.ui-btn:enabled:active:hover {
    background-color: #304269;
}

.ui-btn:enabled:focus {
    background-color: #304269;
}

body {
    color: #304269;
    text-align: center;
}

i {
    border: solid #F26101;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 25px 25px 25px 0px;
}

.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin: 25px 0px 25px 25px;
}

.increaseText {
    font-size: x-large;
    float: left;
}

.decreaseText {
    font-size: x-large;
    float: right;
}

.ui-listview li {
    background: #D9E8F5;
    border: 0;
    margin: 10px 0 10px 0;
    color: #F26101;
}