/* Colors from Blue and Orange theme: https://color.adobe.com/es/Corporate-Orange-Blue-color-theme-7978150
* dark-blue: #304269
* light-blue: #91BED4
* dark-grey: #D9E8F5
* white: #FFFFFF
* orange: #F26101
*/
.ui-content {
    background-color: #F1F8F8;
}

.ui-header {
	color: #F1F8F8;
    background-color: #7F9070;
    width: 100%;
}

.ui-header .ui-title {
    color: #F1F8F8;
    margin: 0;
    font-size: 35px;
}

.increase {
	padding-right: 50px;
    padding-top: 50px;
    float: right;
    font-size: 30px;
}

.decrease {
	padding-left: 50px;
    padding-top: 50px;
    float: left;
    font-size: 30px;
}

.description {
	margin: 0;	
}

.modifiable {
	margin: 0.3em 0 0 0;
	font-weight: bold;	
}

.ui-btn {
    background-color: #EF003D;
    color: #F1F8F8;
    font-weight: bold;
}

a.ui-btn:active:hover,
.ui-btn:enabled:active:hover {
    background-color: #D7073C
}

.ui-page .ui-footer.ui-bottom-button .ui-btn {
	background-color: #EF003D;
}

.ui-btn:enabled:focus {
    background-color: #D7073C;
}

.ui-popup {
    border: 3px solid #EF003D;
}

.ui-popup .ui-popup-header {
    background-color: #7F9070;
    color: #F1F8F8;
}

.ui-popup .ui-popup-content {
    background-color: #F1F8F8;
    font-weight: bolder;
    color: #7F9070;
    padding-top: 60px;
}

.ui-popup.ui-scroll-on:not(.ui-ctxpopup):not(.ui-popup-toast) .ui-popup-header+.ui-popup-content {
	padding: 30px 64px 100px 64px;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n) {
	background-color: #EF003D;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n):active {
	background-color: #D7073C;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n)::after {
    background-color: #D7073C;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    transition: opacity 250ms;
    opacity: 0;
    z-index: -1;
}

.btn-icon-cancel {
    background: url(../img/cancel.png) no-repeat 50% 50%;
}

.btn-icon-ok {
    background: url(../img/ok.png) no-repeat 50% 50%;
}

body {
    color: #7F9070;
    text-align: center;
}

.ui-listview li {
	color: #7F9070;
	margin: 0;
	font-weight: bold;
}