/* Colors from Flat UI theme: https://color.adobe.com/Flat-UI-color-theme-2469224/
* blue: #2C3E50
* red: #E74C3C
* grey: #ECF0F1
* light-blue: #3498DB
* dark-blue: #2980B9
*/
.ui-content {
    background-color: #ECF0F1;
}

.ui-header {
	color: #ECF0F1;
    background-color: #E74C3C;
    width: 100%;
}

.ui-header .ui-title {
    color: #ECF0F1;
    margin: 0;
    font-size: 35px;
}

.increase {
	padding-right: 50px;
    padding-top: 50px;
    float: right;
    font-size: 30px;
}

.decrease {
	padding-left: 50px;
    padding-top: 50px;
    float: left;
    font-size: 30px;
}

.description {
	margin: 0;	
}

.modifiable {
	margin: 0.3em 0 0 0;
	font-weight: bold;	
}

.ui-btn {
    background-color: #3498DB;
    color: #F1F8F8;
    font-weight: bold;
}

a.ui-btn:active:hover,
.ui-btn:enabled:active:hover {
    background-color: #2980B9;
}

.ui-page .ui-footer.ui-bottom-button .ui-btn {
	background-color: #2980B9;
}

.ui-btn:enabled:focus {
    background-color: #2980B9;
}

.ui-popup .ui-popup-header {
    background-color: #ECF0F1;
    color: #2C3E50;
}

.ui-popup .ui-popup-content {
    background-color: #ECF0F1;
    font-weight: bolder;
    color: #2C3E50;
    padding-top: 60px;
}

.ui-popup.ui-scroll-on:not(.ui-ctxpopup):not(.ui-popup-toast) .ui-popup-header+.ui-popup-content {
	padding: 30px 64px 100px 64px;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n) {
	background-color: #3498DB;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n):active {
	background-color: #2980B9;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n)::after {
    background-color: #2980B9;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    transition: opacity 250ms;
    opacity: 0;
    z-index: -1;
}

.btn-icon-again {
    background: url(../img/again.png) no-repeat 50% 50%;
}

.btn-icon-start {
    background: url(../img/start.png) no-repeat 50% 50%;
}

body {
    color: #2C3E50;
    text-align: center;
}

.rolls {
	width: 100%;
	color: #2C3E50;
	margin: 0;
	font-weight: bold;
}

.rolls td {
    width: 33%;
    font-size: 30px;
	height: 70px;
}

.d4Background {
    background: url(../img/d4.png) no-repeat 50% 20%;
}

.d6Background {
    background: url(../img/d6.png) no-repeat 50% 50%;
}

.d8Background {
    background: url(../img/d4.png) no-repeat 50% 20%;
}

.d10Background {
    background: url(../img/d10.png) no-repeat 50% 50%;
	    padding-top: 25px;
}

.d12Background {
    background: url(../img/d12.png) no-repeat 50% 40%;
}

.d20Background {
    background: url(../img/d20.png) no-repeat 50%;
	padding-top: 25px;
}